{% extends 'base.html.twig' %}

{% block title %}{{ card.cardName }}{% endblock %}

{% block body %}
   <p>{{ card.cardName }}</p>
   <p>{{ card.setName }}</p>
   <p>{{ card.rarity }}</p>
   <hr>
   <a href="{{ path('yugioh_list', {id: card.id}) }}">Go Back</a>
{% endblock %}